<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {#<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">#}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block header %}
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><img style="height: 80px; " src="{{ asset('images/logo.png') }}"></a>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% if app.user %}
                        <ul class="nav navbar-nav navbar-left">
                            {{ render(controller(
                            'AppBundle:PlatformAware:resource'
                            )) }}
                        </ul>
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">

                            {% if app.user %}
                                <li>
                                    <a href="{{ path('dashboard_action') }}">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="glyphicon glyphicon-user"
                                              aria-hidden="true"></span> {{ app.user.username }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Edit Profile</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('security_logout') }}">
                                                Logout
                                            </a></li>
                                    </ul>

                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('homepage') }}">
                                        HOME
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('register_user') }}">
                                        REGISTER
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('security_login') }}">
                                        LOGIN
                                    </a>
                                </li>
                            {% endif %}

                        </ul>

                    </div>
                </div>
            </div>
        </header>
    {% endblock %}


    <div class="container body-container">
        {% block body %}
            <div class="row" style="margin-top: 40px;">
                <div id="main" class="col-sm-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>




    {% block footer %}
        <footer>
            <div class="container modal-footer">
                <p>&copy; 2016 - Finireth Solutions</p>
            </div>
        </footer>
    {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>


        {% endblock %}

    </body>
</html>
