{% extends 'base.html.twig' %}

{% block body %}
This is the registration form.

    {{ form_start(form) }}

    Username: {{ form_widget(form.username) }} <br>
    Email: {{ form_widget(form.email) }} <br>
    {{ form_widget(form.password) }} <br>
    Name: {{ form_widget(form.name) }}<br>

    <button type="submit" class="btn-info" value="Submit">Submit</button>
    {{ form_end(form) }}


{% endblock %}